.error-message {
    color: #dc3545;
    margin-top: 5px;
    font-size: 0.9em;
}
.terms-checkbox {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.terms-checkbox input {
    margin-right: 10px;
    width: auto;
}
.btn-google {
    background: #4285F4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
}
.btn-google:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.user-info img{
    margin: 1rem auto;
}

.btn {
    margin-bottom: 0.5rem;
}

.login-body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #8db5fb, #d25eff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: fit-content;
}

.login-container h2 {
    margin-bottom: 24px;
    color: #333;
    font-size: 28px;
}
