@use "@core/css/components/global-mixins" as *;

.menu {
    position: absolute;
    right: 0;
    
    & > button {
        padding: 0.2rem;
        border-radius: 1rem;
        aspect-ratio: 1;
        background-color: transparent;
        border: none;
    }
}
    
.list {
    position: absolute;
    @include flex-column;
    right: 0;
    padding: 0.5rem;
    background-color: var(--background-l1);
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    display: none;
    z-index: 2;

    &.active {
        display: flex;
    }

    button {
        font-size: 1rem;
        border: none;
        gap: 0.7rem;
        display: inline-flex;
        padding: 0.2rem;
        border-radius: var(--radius);
        background-color: transparent;
        color: var(--text-color);
        padding: 0.5rem;
    }

    :global(.absolute-actions) {
        position: absolute;
        display: inline-flex;
        top: 0.7rem;
        right: 1rem;
        gap: 0.5rem;

        @include mobile {
            right: 0.5rem;
        }

        & > .kebab-menu {
            position: static;
        }
    }
}