@use "@core/css/components/global-mixins" as *;

.wrapper {
    position: absolute;
    display: flex;
    height: fit-content;
}

.menu {
    position: relative;
    flex: 1;
    display: flex;
    overflow: visible;
    
    .button {
        border-radius: 1rem;
        aspect-ratio: 1;
        background-color: transparent;
        border: none;
        height: fit-content;
        display: flex;

        .icon {
            height: 20px;
        }
    }
}
    
.list {
    position: absolute;
    flex-direction: column;
    right: -10px;
    top: 1rem;
    padding: 0.5rem;
    background-color: var(--background-l1);
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    display: flex;
    z-index: 20;
    width: fit-content;

    button {
        font-size: 1rem;
        border: none;
        gap: 0.7rem;
        display: inline-flex;
        padding: 0.2rem;
        border-radius: var(--radius);
        background-color: transparent;
        color: var(--text-color);
        padding: 0.5rem;
    }

    :global(.absolute-actions) {
        position: absolute;
        display: inline-flex;
        top: 0.7rem;
        right: 1rem;
        gap: 0.5rem;

        @include mobile {
            right: 0.5rem;
        }

        & > .kebab-menu {
            position: static;
        }
    }
}