@use "@core/css/components/global-mixins" as *;

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}

.post {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    border-bottom: 1px solid var(--border-color);

    @include mobile {
        display: flex;
        flex-direction: column;
        padding: 0.7rem;
        gap: 5px;
    }
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    .header {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .authorName {
            font-size: larger;
            font-weight: 500;

            @include mobile {
                position: absolute;
                left: 60px;
                top: calc(0.7rem + 5px);
            }
        }

        .actions {
            display: inline-flex;
            gap: 0.5rem;
        }

    }

    .date {
        font-size: 0.9rem;
        color: var(--text-color-l1)
    }
}

.commentList {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;

    @include mobile {
        padding: 0.7rem;
    }
}

.forumComment {
    border: 0px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    padding: 8px 1rem;
    height: 38px;
    min-height: 38px;
    transition: border-color 0.2s ease-in;

    &:focus {
        outline: none;
        border-bottom: 2px solid var(--primary);
    }
}