.media-only-flex,
.media-only-block {
    display: none !important; 
}

@media (max-width: 600px) {
    .media-only-flex {
        display: flex !important;
    }

    .media-only-block {
        display: block !important;
    }

    .normal-only {
        display: none !important;
    }
}