@import url(account-sidebar.css);

/* Основной контейнер */
.account-container {
    padding: 2rem 0;
    background-color: var(--background);
}

/* Макет страницы */
.account-layout {
    display: flex;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.account-header {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.account-header h2 {
    margin: 0;
}

.account-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--background-l1);
    border-radius: var(--radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: 1.5rem;
}

/* Адаптивность */
@media (max-width: 992px) {

    .account-container {
        padding: 1rem 0;
    }

    .account-header {
        flex-direction: column;
    }

    .account-layout {
        flex-direction: column;
        padding: 0 0.3rem;
    }

    .account-main {
        padding: 0.5rem;
    }
}