.hover-animation-card:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
    box-shadow: 0 5px 15px var(--shadow-color);
}

.hover-animation-card {
    cursor: pointer;
}

.appearance-top-animation {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-60px);
    transition: all 0.3s ease;
}

.appearance-bottom-animation {
    visibility: hidden;
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.3s ease;
}
.appearance-left-animation {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.2s ease;
}
.appearance-right-animation {
    visibility: hidden;
    opacity: 0;
    transform: translateX(60px);
    transition: all 0.2s ease;
}

.appearance-top-animation.visible,
.appearance-left-animation.visible,
.appearance-right-animation.visible,
.appearance-bottom-animation.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform: translateX(0);
}