@use "@core/css/components/global-mixins" as *;

/* Базовые сбросы */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--border-color) var(--background-l1);
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
    
    body {
        /* padding-top: var(--header-height); */
        font-family: 'Inter', -apple-system, sans-serif;
        line-height: 1.5;
        color: var(--text-color);
        background-color: var(--background);
        max-width: 100%;
        height: 100vh;

        #root {
            display: flex;
            flex-direction: column;
            height: 100%;

            &:has(.account-layout) {
                align-items: center;
            }
        }
    }
}

button {
    color: var(--text-color);
    background-color: transparent;
    border: 0px solid transparent;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: inherit;
}

.card {
    background: var(--background-l1);
    border-radius: var(--radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    @include flex-column;
    
    overflow: hidden;
    height: 100%;

    .body {
        padding: 1rem;
    }
}