.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.btn-outline-danger {
    border: 1px solid var(--danger);
    color: var(--danger);
    background-color: transparent;
}

.btn-outline-danger:hover {
    background-color: var(--danger);
    color: var(--background-l1);
}

.btn-danger {
    border-width: 0;
    background-color: var(--danger);
    color: var(--background-l1);
}

.btn-danger:hover {
    background-color: var(--danger-dark);
    color: var(--background-l1);
}

.btn-outline-primary {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    color: var(--background-l1);
}

.btn-primary {
    background-color: var(--primary);
    color: var(--background-l1);
    border: 1px solid var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-gold {
    background-color: var(--gold);
    color: var(--background-l1);
    border: 1px solid var(--gold);
}

.btn-gold:hover {
    background-color: var(--gold-dark);
    border-color: var(--gold-dark);
}

.login-button {
    display: flex;
    flex-direction: row;
}

.btn-sm {
    padding: 0.35rem 0.75rem;
    font-size: 0.85rem;
}

.telegram-button {
    background-color: var(--telegram);
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: 0 2px 8px var(--shadow-color);
}

.telegram-button :hover {
    background-color: var(--telegram-hover);
} 

.search-btn {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--gray);
    cursor: pointer;
    padding: 0;
}

/* Google button */
.btn-google {
    display: inline-block;
    background-color: #4285F4;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-google:hover {
    background-color: #357ae8;
}

.btn-search {
    border-radius: 0 var(--radius) var(--radius) 0;
    border-left: none;
    background-color: var(--primary);
    color: var(--background-l1);
    max-width: 80px;
    margin-bottom: 0;
}

.like {
    color: var(--danger) !important;
}

.like:hover {
    color: var(--danger-dark) !important;
}

.overlay-actions.top {
    top: 0.7rem;
}

.overlay-actions.right {
    right: 0.7rem;
}

.overlay-actions.left {
    left: 0.7rem;
}

.overlay-actions.bottom {
    bottom: 0.7rem;
}

.overlay-actions {
    position: absolute;
    width: max-content;
    z-index: 50;

    display: inline-flex;
    gap: 0.5rem;

    transition: all 0.2s ease;

    opacity: 0.5;
}

.overlay-actions * {
    height: 32px; /* Фиксированная высота */
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Текст не переносится */
}