.ws-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
    position: relative;

    border-radius: 8px;
    width: 100%;
    padding: 0.5rem;

    input {
        position: absolute;
        opacity: 0;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        margin: 0;

        &:checked + label .checkmark {
            background: var(--primary);
            border-color: var(--primary);

            &::after {
                display: block;
            }
        }
    }

    .checkmark {
        width: 1rem;
        height: 1rem;
        border: 2px solid #888;
        border-radius: 0.25rem;
        transition: 0.2s ease;
        background-color: #fff;
        position: relative;
        flex-shrink: 0;

        &::after {
            content: "";
            position: absolute;
            left: 0.25rem;
            width: 0.3rem;
            height: 0.6rem;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            display: none;
        }
    }

    label {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
    }
}