@use "@core/css/components/global-mixins" as *;

@mixin nav-link {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    display: block;
    background: transparent;
    border: none;
    height: fit-content;
    cursor: pointer;

    &:hover {
        color: var(--primary);
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 101;
    background-color: var(--background-l1);
    box-shadow: 0 2px 10px var(--shadow-color);
    height: var(--header-height);
    padding: 0.4rem 2rem;
    width: 100%;

    .header-container {
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            z-index: 100;
            background-color: var(--background-l1);

            .nav-link {
                @include nav-link;
            }

            &-brand {
                color: var(--text-color);
                position: relative;
                display: inline-flex;
                justify-content: center;
                font-weight: 700;
                transform: translateY(-0.5rem);

                @include mobile {
                    transform: translateY(-0.2rem);
                }

                img {
                    position: absolute;
                    height: var(--header-height);
                    left: 0;
                    translate: -80% -5px;
                }

                .brand {
                    font-size: 1.8rem;
                }

                .all-listings {
                    display: inline-flex;
                    position: absolute;
                    bottom: -0.6rem;
                    font-size: 0.85rem;

                    i {
                        translate: -5px 3px;
                    }
                }
            }

            &-toggler {
                display: none;
                background: none;
                border: none;
                align-items: center;
                padding-left: 1rem;

                i {
                    font-size: 2rem;
                }

                @include mobile {
                    display: flex;
                }

            }

            &-collapse {
                display: flex;
                align-items: center;

                @include mobile {
                    position: fixed;

                    left: 0;
                    top: var(--header-height);

                    width: 100%;
                    height: 100%;

                    background-color: var(--background-l2);
                    box-shadow: 0 2px 5px var(--shadow-color);

                    transform: translateX(100%);
                    transition: all 0.5s ease;
                    visibility: hidden;
                }

                h2 {
                    margin-bottom: 0;
                }

                &.show {
                    @include mobile {
                        transform: translateX(0);
                        visibility: visible;
                    }
                }

                .mobile-menu {
                    display: none;

                    @include mobile {
                        height: 100%;
                        align-items: center;
                        @include flex-column;
                        padding: 0.4rem 1rem;
                        gap: 0.5rem;
                        overflow-y: auto;

                        .user-info-menu {
                            height: 152px;
                            align-items: center;
                            @include flex-column;
                            gap: 0.5rem;
                        }
                    }

                    .account-manager {
                        display: none;

                        @include mobile {
                            display: block;
                            min-width: 100%;
                        }
                    }
                }

                .nav-buttons {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 0.5rem;

                    @include mobile {
                        display: none;
                    }
                    
                    .google-logo {
                        width: 20px;
                        height: 20px;
                        margin-right: 0.5rem;
                        object-fit: cover;
                    }

                    .nav-link {
                        @include nav-link;
                    }

                    .account-link-container {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        border: 1px solid var(--primary);
                        border-radius: var(--radius);
                        height: 100%;
                        width: fit-content;

                        .account-link {
                            display: flex;
                            flex-direction: row;
                            text-decoration: none;
                            align-items: center;
                            color: var(--text-color);
                            padding: 0.5rem 1rem;
                            background-color: var(--background-l1);
                            border-radius: var(--radius);
                            border-right: 1px solid var(--primary);
                            transition: all 0.2s;
                            gap: 0.5rem;
                            height: 100%;
                            white-space: nowrap;
                            position: relative;
                            z-index: 2;

                            &:hover {
                                background-color: rgba(99, 102, 241, 0.1);
                                color: var(--primary);
                            }

                            @include mobile {
                                width: max-content;
                            }
                        }

                        .logout-btn {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: var(--primary);
                            background-color: transparent;
                            border-radius: var(--radius);
                            font-size: 0.9rem;
                            font-weight: 500;
                            transition: all 0.2s ease;
                            height: 3rem;
                            width: 3rem;
                            padding: 0;
                            text-decoration: none;
                            z-index: 1;
                            border-width: 0;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 130%;
                                height: 100%;
                                background-color: var(--primary);
                                border-radius: var(--radius);
                                transition: all 0.2s ease;
                                z-index: -1;
                                opacity: 0;
                            }

                            &:hover {
                                color: var(--background-l1);

                                &::before {
                                    opacity: 1;
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.navbar-btn {
    padding: 0.75rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: transparent;
    border-width: 0;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--radius);
}