@use "@core/css/components/global-mixins" as *;

@mixin nav-link {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    display: block;
    background: transparent;
    border: none;
    height: fit-content;
    cursor: pointer;
    border-bottom: 3px solid transparent;

    &:hover {
        color: var(--primary);
    }

    &.active {
        border-bottom: 3px solid var(--primary);
    }
}

header {
    background-color: var(--background-l1);
    box-shadow: 0 2px 10px var(--shadow-color);
    min-height: var(--header-height);
    height: var(--header-height);
    padding: 0.4rem 2rem;
    width: 100%;
    translate: 0;
    position: relative;
    z-index: 100;

    .header-container {
        width: 100%;
        max-width: 1050px;
        margin: 0 auto;

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            z-index: 100;
            background-color: var(--background-l1);

            .nav-link {
                @include nav-link;
            }

            &-brand {
                color: var(--text-color);
                position: relative;
                display: inline-flex;
                justify-content: center;
                font-weight: 700;
                transform: translateY(-0.5rem);

                @include mobile {
                    transform: translateY(-0.2rem);
                }

                img {
                    position: absolute;
                    height: var(--header-height);
                    left: 0;
                    translate: -80% -5px;
                }

                .brand {
                    font-size: 1.8rem;
                }

                .all-listings {
                    display: inline-flex;
                    position: absolute;
                    bottom: -0.6rem;
                    font-size: 0.85rem;

                    i {
                        translate: -5px 3px;
                    }
                }
            }

            .mobile-nav-buttons {
                display: none;

                @include tablet {
                    @include flex-row;
                }
                
                .navbar-toggler {
                    display: flex;
                    background: none;
                    border: none;
                    align-items: center;
                    padding-left: 1rem;

                    i {
                        font-size: 2rem;
                    }
                }
            }

            &-collapse {
                display: flex;
                align-items: center;
                position: fixed;

                @include tablet {
                    left: 0;
                    top: var(--header-height);

                    width: 100%;
                    height: 100%;

                    box-shadow: 0 2px 5px var(--shadow-color);

                    transform: translateX(100%);
                    transition: all 0.5s ease;
                    visibility: hidden;
                }

                h2 {
                    margin-bottom: 0;
                }
            }

            .nav-buttons {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 0.5rem;

                @include tablet {
                    display: none;
                }
                
                .login-btn {
                    height: 50px;
                    align-content: center;
                    font-size: 1.1rem;
                }

                .nav-link {
                    @include nav-link;
                }

                .account-link-container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    border: 1px solid var(--primary);
                    border-radius: var(--radius);
                    height: 100%;
                    width: fit-content;

                    .account-link {
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        text-decoration: none;
                        align-items: center;
                        overflow: hidden;
                        color: var(--text-color);
                        padding: 0.5rem 1rem;
                        background-color: var(--background-l1);
                        border-radius: var(--radius) 0 0 var(--radius);
                        border-right: 1px solid var(--primary);
                        transition: all 0.2s;
                        gap: 0.5rem;
                        white-space: nowrap;
                        position: relative;
                        z-index: 2;

                        &:hover {
                            background-color: rgba(99, 102, 241, 0.1);
                            color: var(--primary);
                            z-index: 2;
                        }

                        @include tablet {
                            width: max-content;
                        }

                        &#notificationBtn {
                            display: block;
                            flex: 1;
                            padding: 1rem;
                            border-radius: 0;
                        }
                    }

                    .logout-btn {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--primary);
                        background-color: transparent;
                        border-radius: 0 var(--radius) var(--radius) 0;
                        font-size: 0.9rem;
                        font-weight: 500;
                        transition: all 0.4s ease;
                        height: 3rem;
                        width: 3rem;
                        padding: 0;
                        text-decoration: none;
                        z-index: 1;
                        border-width: 0;

                        &:hover {
                            background-color: var(--primary);
                            color: var(--background-l1);
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

.navbar-btn {
    padding: 0.75rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: transparent;
    border-width: 0;
    color: var(--text-color);
    cursor: pointer;
    border-radius: var(--radius);
}

.mobile-menu {
    display: none;
    position: fixed;
    top: var(--header-height);
    visibility: hidden;
    background-color: var(--background-l2);
    transform: translateX(100%);
    transition: all 0.5s ease;
    z-index: 100;

    @include tablet {
        height: 100%;
        align-items: center;
        @include flex-column;
        padding: 0.4rem 1rem;
        gap: 0.5rem;
        overflow-y: auto;

        & > .language-toggle {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .user-info-menu {
            height: 152px;
            align-items: center;
            @include flex-column;
            gap: 0.5rem;
        }
    }

    &.show {
        @include tablet {
            transform: translateX(0);
            visibility: visible;
        }
    }

    .account-manager {
        display: none;

        @include tablet {
            display: block;
            min-width: 100%;
        }
    }
}