header {
    position: fixed;
    top: 0;
    z-index: 101;
    background-color: var(--background-l1);
    box-shadow: 0 2px 10px var(--shadow-color);
    height: var(--header-height);
    padding: 0.4rem 2rem;
    width: 100%;
}

.header-container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 100;
    background-color: var(--background-l1);
}

.navbar-top {
    display: none;
    z-index: -1;
}

.navbar-brand {
    color: var(--text-color);
    position: relative;
    display: inline-flex;
    justify-content: center;
    font-weight: 700;
    transform: translateY(-0.5rem);
}

.navbar-brand .brand {
    font-size: 1.8rem;
}

.navbar-brand .all-listings {
    display: inline-flex;
    position: absolute;
    bottom: -0.6rem;
    font-size: 0.85rem;
}

.navbar-brand .all-listings i {
    translate: -5px 3px;
}


.navbar-toggler {
    display: none;
    background: none;
    border: none;
    align-items: center;
    padding-left: 1rem;
}

.navbar-toggler i {
    font-size: 2rem;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.mobile-menu {
    display: none;
}

.navbar-collapse h2 {
    margin-bottom: 0;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin-right: auto;
}

.nav-link {
    font-weight: 500;
    padding: 0.5rem 1rem;
    color: var(--text-color);
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--primary);
}

.nav-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.logout-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: transparent;
    border-radius: var(--radius);
    font-size: 0.9rem;
    font-weight: 500;
    transition: all 0.2s ease;
    height: 3rem;
    width: 3rem;
    padding: 0;
    text-decoration: none;
    z-index: 1;
    border-width: 0;
}

.logout-btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 130%;
    height: 100%;
    background-color: var(--primary);
    border-radius: var(--radius);
    transition: all 0.2s ease;
    z-index: -1;
    opacity: 0;
}
.logout-btn:hover {
    color: var(--background-l1);
}
.logout-btn:hover::before {
    opacity: 1;
    transform: translateX(0);
}

.account-manager {
    display: none;
}

/* Стили для плашки аккаунта */
.account-info {
    display: flex;
    align-items: center;
}

.account-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    background-color: var(--background-l1);
    border-radius: var(--radius);
    border-right: 1px solid var(--primary);
    transition: all 0.2s;
    gap: 0.5rem;
    height: 100%;
    white-space: nowrap;
    position: relative;
    z-index: 2;
}

.account-link-container {
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    height: 100%;
    width: fit-content;
}

.account-link:hover {
    background-color: rgba(99, 102, 241, 0.1);
    color: var(--primary);
}

.logo {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    object-fit: cover;
}

.navbar-btn {
    padding: 0.75rem 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: left;
    width: 100%;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: transparent;
    border-width: 0;
    color: var(--text-color);
}

/* Адаптивность */
@media (max-width: 600px) {

    .navbar-brand {
        transform: translateY(-0.2rem);
    }

    .nav-buttons {
        display: none;
    }
    .btn.account-link {
        width: max-content;
    }
    .navbar-toggler {
        display: flex;
    }

    .navbar-top {
        justify-content: space-between;
        min-width: calc(100%);
        padding: 0 16px;
        display: flex;
        align-items: center;
    }

    .account-manager {
        display: block;
        min-width: 100%;
    }

    .navbar-collapse {
        position: fixed;

        left: 0;
        top: var(--header-height);

        width: 100%;
        height: 100%;

        background-color: var(--background-l2);
        box-shadow: 0 2px 5px var(--shadow-color);

        transform: translateX(100%);
        transition: all 0.5s ease;
        visibility: hidden;
    }

    .mobile-menu {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0.4rem 1rem;
        gap: 0.5rem;
    }

    .user-info-menu {
        height: 152px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar-collapse.show {
        transform: translateX(0);
        visibility: visible;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }

    .d-flex {
        flex-direction: column;
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}