/* Сетка избранных */
.listings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1.5rem;
}

.drafts-listings-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 166px;
    gap: 1.5rem;
}

.listings-stats-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
    grid-auto-rows: minmax(100px, 150px);
}

/* Пустое избранное */
.no-listings {
    text-align: center;
    padding: 3rem;
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    margin-top: 1.5rem;
}

.no-listings p {
    margin-bottom: 1rem;
    color: var(--text-color);
}

/* Адаптивность */
@media (max-width: 992px) {
    .listings-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}