@use "@core/css/components/global-mixins" as *;

/* Сетка избранных */
.listings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1.5rem;
    z-index: 1;
}

.drafts-listings-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.listings-stats-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
    grid-auto-rows: minmax(100px, 150px);
}

/* Пустое избранное */
.no-listings {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.no-listings img{
    max-width: 50%;
}

.no-listings p {
    margin-bottom: 1rem;
    color: var(--text-color);
}

/* Адаптивность */
@include laptop {
    .listings-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }
}

@include mobile {

    .listings-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
    }

    .drafts-listings-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 166px;
        gap: 1.5rem;
    }
}