.modal-links a {
    color: #007bff;
    text-decoration: underline;
}

p {
    margin-bottom: 10px;
}

.modal-links{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.modal {
    transition: all 0.2s ease;
}

.modal-content {
    border: 2px solid var(--border-color);
    background: var(--color-bg-body);
    padding: 2rem;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.terms-accept {
    font-size: 18px;
    font-weight: bold;
}

.modal-overlay {
    background-color: rgba(56, 56, 56, 0.548);
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; 
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}










.common-modal {
    position: fixed;
    z-index: 1000;
    top: 2rem;
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
    border-radius: var(--radius);

    text-align: center;
}

#errorModal.common-modal {
    background-color: #cf3535;
}

.modal-body {
    padding: 0.5rem;
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.close-modal:hover {
    background-color: var(--shadow-color);
}