@use "@core/css/components/global-mixins" as *;

/* Основной контейнер */
.account-container {
    padding: 2rem 0;
    flex: 1;
    height: fit-content;
    background-color: var(--background);

    @include tablet-lg {
        padding: 1rem 0;
        padding-bottom: 5rem;
    }

    .account-layout {
        display: flex;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;

        @include tablet-lg {
            flex-direction: column;
            padding: 0 0.3rem;
            min-height: 100%;
            height: max-content;
        }


        .account-main {
            @include flex-column;
            flex: 1;
            background: var(--background-l1);
            border-radius: var(--radius);
            box-shadow: 0 2px 8px var(--shadow-color);
            padding: 1.5rem;
            transition: max-height 0.2s ease;

            @include tablet-lg {
                padding: 0.5rem;
                min-height: 100%;
                height: fit-content;
            }

            @include mobile {
                overflow-x: hidden;
            }

            .account-header {
                display: flex;
                gap: 0.5rem;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--border-color);

                h2 {
                    margin: 0;
                    font-size: 1.4rem;
                }

                @include tablet-lg {
                    flex-direction: column;
                }

                .back-link-arrow {
                    display: flex;
                    align-items: center;
                }

                & > .flex-row {
                    gap: 0.5rem;
                }
            }
        }
    }
}