@use "@core/css/components/global-mixins" as *;

/* Сайдбар */
.account-sidebar {
    flex: 0 0 280px;
    position: sticky;
    @include flex-column;
    gap: 1.5rem;
    top: calc(var(--header-height) + 20px);

    @include tablet-lg {
        position: static;
        width: 100%;
        display: none;
    }

    .profile-card {
        background: var(--background-l1);
        border-radius: var(--radius);
        padding: 1.5rem;
        box-shadow: 0 2px 8px var(--shadow-color);
        @include flex-column;
        gap: 0.5rem;
        text-align: center;
        justify-content: center;
        align-items: center;

        &-avatar {
            overflow: hidden;
            border: 3px solid var(--primary-light);
        }

        &-name {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }

        &-rating {
            color: var(--rating-star);
            margin-bottom: 0rem;
        }
    }
}

.account-menu {
    background: var(--background-l1);
    border-radius: var(--radius);
    box-shadow: 0 2px 8px var(--shadow-color);
    padding: 1rem 0;

    .account-menu-item {
        display: inline-flex;
        width: 100%;
        gap: 1rem;
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
        color: var(--text-color);
        transition: all 0.2s;

        &:hover {
            background-color: rgba(99, 102, 241, 0.1);
            color: var(--primary);
        }

        .active {
            background-color: var(--primary);
            color: var(--background-l1);
        }
    }
}