@use "@core/css/components/global-mixins" as *;


.account-layout {
    flex: 1;
    display: flex;
    gap: 2rem;
    max-width: calc(1200px + 2rem);
    padding: 2rem 1rem 1rem 1rem;
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @include tablet {
        flex-direction: column;
        padding: 0 0.3rem;
    }

    @include mobile {
        padding: 0;
    }

    .account-main {
        @include flex-column;
        flex: 1;
        transition: max-height 0.2s ease;
        max-height: calc(100vh - var(--header-height));
        overflow: visible;
        max-width: 100%;

        .card {
            flex: 1;
            @include flex-column;
            background: var(--background-l1);
            border-radius: var(--radius);
            padding: 1.5rem;
            height: fit-content;
            max-width: 100%;
            overflow: visible;

            &:has(.messenger-container) {
                flex: 1;
                min-height: 0;
                overflow: hidden;
            }

            @include mobile {
                padding: 0.5rem;
                overflow-x: hidden;
                box-shadow: 0;
                border-radius: 0;
                max-height: calc(100vh - var(--header-height));
            }

            .account-header {
                display: flex;
                gap: 0.5rem;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid var(--border-color);

                h2 {
                    margin: 0;
                    font-size: 1.4rem;
                }

                @include mobile {
                    flex-direction: column;
                    padding-bottom: 0.5rem;
                    margin-bottom: 0.8rem;
                }

                .back-link-arrow {
                    display: flex;
                    align-items: center;
                }

                & > .flex-row {
                    gap: 0.5rem;
                }
            }

            .listings-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
                max-width: 100%;

                @include tablet {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 1rem;
                }

                @include mobile {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 1rem;
                }
            }
        }
    }
}