/* Боковая панель */
.user-info-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 350px;
}

.seller-card {
    background: var(--background-l1);
    border-radius: var(--radius);
    padding: 1rem;
    box-shadow: 0 2px 8px var(--shadow-color);
    text-align: center;
}

.seller-avatar {
    border: 3px solid var(--primary-light);
}

.seller-info {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 1rem;
    justify-content: flex-start;
}

.seller-meta {
    flex: 1;
}

.seller-meta h3 {
    margin-bottom: 0;
}

.seller-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.seller-actions {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.contact-card {
    background: var(--background-l1);
    border-radius: var(--radius);
    padding: 1.5rem;
    box-shadow: 0 2px 8px var(--shadow-color);
}

.contact-card h3 {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
}

.contact-methods {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.3rem;
    border-radius: 8px;
}

.contact-value {
    font-size: 1.1rem;
    width: 100%;
}

/* Адаптивность */
@media (max-width: 992px) {

    .user-info-sidebar {
        flex: 1;
        width: 100%;
        gap: 1rem
    }
}

@media (max-width: 576px) {

    .details-grid {
        grid-template-columns: 1fr;
    }

    .listing-header h1 {
        font-size: 1.5rem;
    }

    .features-list {
        grid-template-columns: 1fr;
    }
}