@use "@core/css/components/global-mixins" as *;

$big-radius: 16px;
$small-radius: 6px;
$min-radius: 1px;

.chat-window {
    flex: 1;
    @include flex-column;
    background-color: var(--background);
    border-radius: var(--radius);
    height: 100%;
    overflow: hidden;
    position: relative;
    min-width: 0;

    @include mobile {
        position: fixed;
        top: var(--header-height);
        left: 100%;
        width: 100%;
        height: calc(100vh - var(--header-height));
        background: var(--background-l1);
        border-radius: 0;
        max-height: none;
        flex: none;
        z-index: 99;
        padding: 0 0.5rem;
        transition: left 0.3s ease;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        padding-bottom: 4rem;

        &.show {
            left: 0;
        }
    }

    .chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem;
        background-color: var(--background-l1);
        border-bottom: 1px solid var(--border-color);
        min-width: 0;

        @include mobile {
            padding: 0.5rem;
        }

        .chat-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            min-width: 0;

            h4 {
                font-size: 1rem;
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            @include mobile {
                align-items: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .mobile-dialogs-toggle {
                display: none;
                background-color: transparent;
                border-width: 0;
                color: var(--text-color);

                @include mobile {
                    display: block;
                    margin: 0;
                }
            }

            .user-status {
                font-size: 0.75rem;
                color: var(--success-dark);
                margin: 0;
            }
        }

        .mobile-chat-actions {
            display: none;
            gap: 0.5rem;

            @include mobile {
                display: flex;
            }
        }

        .chat-actions {
            display: flex;
            gap: 0.5rem;

            @include mobile {
                display: none;
            }
        }
    }

    .messages-container {
        @include flex-column;
        position: relative;
        flex: 1;
        padding: 0.5rem;
        gap: 0.7rem;
        overflow-y: auto;
        background-color: var(--background-l1);
        scrollbar-width: thin;

        @include mobile {
            background-color: var(--background);
            padding-bottom: 0.5rem;
            max-height: 100%;
        }

        .web-socket-connection-status {
            position: absolute;
            background-color: var(--danger);
            padding: 0.3rem 0.7rem;
            border-radius: var(--radius);
            z-index: 100;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            left: 0;
        }

        .messages-group {
            max-width: 70%;
            display: flex;
            gap: 0.5rem;

            .messages {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
            }

            &.in {
                flex-direction: row;
                margin-right: auto;

                .message {
                    flex-direction: row;

                    &:first-child {
                        .message-content {
                            border-radius: $big-radius $big-radius $big-radius $small-radius;
                        }
                    }

                    &:last-child {
                        .message-content {
                            border-radius: $small-radius $big-radius $big-radius $min-radius;
                        }
                    }

                    .message-content {
                        background-color: var(--background);
                        border-radius: $small-radius $big-radius $big-radius $small-radius;

                        @include mobile {
                            background-color: var(--message-in);
                        }
                    }
                }
            }

            &.out {
                flex-direction: row-reverse;
                margin-left: auto;

                .message {
                    flex-direction: row-reverse;

                    &:first-child {
                        .message-content {
                            border-radius: $big-radius $big-radius $small-radius $big-radius;
                        }
                    }

                    &:last-child {
                        .message-content {
                            border-radius: $big-radius $small-radius $min-radius $big-radius;
                        }
                    }

                    .message-content {
                        background-color: var(--primary-2xlight);
                        border-radius: $big-radius $small-radius $small-radius $big-radius;
                    }
                }
            }

            .message-avatar {
                margin-top: auto;
            }

            .message {
                display: flex;
                gap: 0.5rem;
                
                .message-content {
                    padding: 0.3rem 0.75rem;
                    position: relative;
                    display: inline-flex;
                    align-items: flex-end;
                    gap: 0.4rem;

                    p {
                        margin: 0;
                        word-wrap: break-word;
                    }

                    .message-time {
                        font-size: 0.7rem;
                        color: var(--gray);
                        white-space: nowrap;
                        margin: 0;
                    }
                }
            }
        }

        .chat-order {
            background-color: var(--background-l2);
            padding: 0.7rem;
            @include flex-column;
            align-items: center;

            * {
                width: fit-content;
            }
        }

        .message-date {
            text-align: center;
            font-size: 0.75rem;
            color: var(--gray);
            margin: 1rem 0;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width: 40%;
                height: 1px;
                background-color: var(--border-color);
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
            }
        }
    }

    .message-input-container {
        display: flex;
        padding: 0.7rem;
        background-color: var(--background-l1);
        border-top: 1px solid var(--border-color);

        @include mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: var(--background-l1);
            flex-direction: row;
            padding: 0.5rem;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        }

        .message-input {
            flex: 1;
            padding: 0.75rem 1rem;
            border: 1px solid var(--border-color);
            border-radius: var(--radius);
            color: var(--text-color);
            background-color: var(--background-l1);
            resize: none;
            height: 45px;
            max-height: 120px;
            font-size: 1rem;
            transition: all 0.2s;

            &:focus {
                outline: none;
                border-color: var(--primary);
                box-shadow: 0 0 0 2px var(--primary-light);
            }

            @include mobile {
                width: 100%;
            }
        }

        .send-btn {
            width: 3rem;
            background: none;
            border: none;

            img {
                width: 30px;
            }
        }
    }
}