@use "@core/css/components/global-mixins" as *;

.listing-card {
    background-color: var(--background-l1);
    border: 2px solid var(--border-color);
    border-radius: calc(var(--radius) * 1.5);
    box-shadow: 0 2px 8px var(--shadow-color);
    @include flex-column;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100%;

    min-width: 250px;
    max-width: 350px;

    min-height: 330px;
    max-height: 400px;

    &:has(.center) {
        border: 4px dashed var(--border-color);
    }

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
        
        .overlay-actions {
            opacity: 1;
        }
    }

    @include laptop {
        max-width: 300px;
        min-width: 150px;
        min-height: 300px;

        img {
            height: 150px;
        }
    }

    @include mobile {
        max-width: 320px;
        min-width: 150px;
        min-height: 275px;

        .img {
            height: 150px;
        }
    }

    .listing-status {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: var(--radius);
        font-size: 0.75rem;
        font-weight: 500;

        &.active {
            background-color: var(--success-light);
            color: var(--success-dark);
        }

        &.inactive {
            background-color: var(--warning-light);
            color: var(--warning-dark);
        }

        &.red {
            background-color: var(--danger);
            color: var(--text-color);
        }
    }

    .listing-card_body {
        @include flex-column;
        flex-grow: 1;
        padding: 1rem;
        position: relative;

        @include laptop {
            padding: 0.5rem;
        }

        .btn {
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
        }

        .listing-card_title {
            font-weight: 600;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;

            @include laptop {
                margin-bottom: 0.3rem;
                font-size: 1rem;
            }
        }

        .listing-card_text {
            flex-grow: 1;
            margin-bottom: 1rem;
            font-size: 0.95rem;
            color: var(--text-color-l1);
            white-space: normal;
            word-wrap: break-word;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .listing-card_footer {
            margin-top: auto;
            padding-top: 0.4rem;
            border-top: 1px solid var(--border-color);
            @include flex-row;
            justify-content: space-between;
            align-items: center;

            @include laptop {
                flex-direction: column;
                align-items: flex-start;
            }

            .listing-card_location {
                color: var(--text-color-l1);
                font-size: 0.8rem;
            }

            .price {
                font-weight: 600;
                font-size: 1.1rem;
                font-family: 'Montserrat', sans-serif;
                color: var(--primary-dark);
            }
        }

        .listing-card_actions {
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            z-index: 50;
            display: inline-flex;
            gap: 0.5rem;
            transition: all 0.2s ease;
            top: 0;
            right: 0.7rem;
            translate: 0 -50%;
            background-color: var(--background-l1);
            border: 2px solid var(--border-color);
            border-radius: 1.25rem;
            display: flex;
            justify-content: center;

            * {
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                cursor: pointer;
            }

            @include laptop {
                right: 0.4rem;
                translate: 0 -60%;
            }

            @include mobile {
                right: 0.4rem;
                translate: 0 -70%;
            }
        }
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: center;
    }
}