.listing-card {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--background-l1);
    border: 2px solid var(--border-color);
    border-radius: calc(var(--radius) * 1.5);
    box-shadow: 0 2px 8px var(--shadow-color);
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    max-width: 350px;
    min-width: 250px;

    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;
    }

    &:hover {
        .img {
            transform: scale(1.05);
        }
        
        .overlay-actions {
            opacity: 1;
        }
    }

    @media (max-width: 1120px) {
        max-width: 300px;
        min-width: 150px;

        .img {
            height: 150px;
        }
    }

    @media (max-width: 600px) {
        max-width: 320px;
        min-width: 150px;

        .img {
            height: 150px;
        }
    }

    .listing-status {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: var(--radius);
        font-size: 0.75rem;
        font-weight: 500;

        &.active {
            background-color: var(--success-light);
            color: var(--success-dark);
        }

        &.inactive {
            background-color: var(--warning-light);
            color: var(--warning-dark);
        }

        &.red {
            background-color: var(--danger);
            color: var(--text-color);
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 1rem;
        position: relative;

        @media (max-width: 1120px), (max-width: 600px) {
            padding: 0.5rem;
        }

        .title {
            font-weight: 600;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;

            @media (max-width: 1120px), (max-width: 600px) {
                margin-bottom: 0.3rem;
                font-size: 1rem;
            }
        }

        .text {
            flex-grow: 1;
            margin-bottom: 1rem;
            font-size: 0.95rem;
            color: var(--gray);
            white-space: normal;
            word-wrap: break-word;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
        }

        .footer {
            margin-top: auto;
            padding-top: 0.4rem;
            border-top: 1px solid var(--border-color);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1120px), (max-width: 600px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .location {
                color: var(--gray);
                font-size: 0.8rem;
            }

            .price {
                font-weight: 600;
                font-size: 1.1rem;
                font-family: 'Montserrat', sans-serif;
                color: var(--primary-dark);
            }
        }

        .actions {
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            z-index: 50;
            display: inline-flex;
            gap: 0.5rem;
            transition: all 0.2s ease;
            top: 0;
            right: 0.7rem;
            translate: 0 -50%;
            background-color: var(--background-l1);
            border: 2px solid var(--border-color);
            border-radius: 1.25rem;
            display: flex;
            justify-content: center;

            * {
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                cursor: pointer;
            }

            @media (max-width: 1120px) {
                right: 0.4rem;
                translate: 0 -60%;
            }

            @media (max-width: 600px) {
                right: 0.4rem;
                translate: 0 -70%;
            }
        }
    }
}