.listing-card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    position: relative;
}

.listing-card-text {
    flex-grow: 1;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    color: var(--gray);
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.listing-card-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    white-space: normal;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.listing-card-footer {
    margin-top: auto;
    padding-top: 0.4rem;
    border-top: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.listing-card {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--background-l1);
    border: 2px solid var(--border-color);
    border-radius: calc(var(--radius) * 1.5);
    box-shadow: 0 2px 8px var(--shadow-color);
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
    position: relative;
    max-width: 390px;
    min-width: 250px;
}

.listing-status {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
    font-size: 0.75rem;
    font-weight: 500;
}

.listing-status.active {
    background-color: var(--success-light);
    color: var(--success-dark);
}

.listing-status.inactive {
    background-color: var(--warning-light);
    color: var(--warning-dark);
}

.listing-status.red {
    background-color: var(--danger);
    color: var(--text-color);
}

.listing-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.listing-card:hover .listing-img {
    transform: scale(1.05);
}

.listing-location {
    color: var(--gray);
    font-size: 0.8rem;
}

.listing-price {
    font-weight: 600;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-dark);
}

.partner-sign {
    padding: 0.5rem 1rem;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: 600;
    border-radius: var(--radius);
    margin: 0 1rem;
}

.listing-card:hover .overlay-actions{
    opacity: 1;
}

.listing-card-overlay-actions {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 50;

    display: inline-flex;
    gap: 0.5rem;

    transition: all 0.2s ease;

    top: 0;
    right: 0.7rem;
    
    translate: 0 -50%;

    background-color: var(--background-l1);
    border: 2px solid var(--border-color);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
}

.listing-card-overlay-actions * {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Текст не переносится */
    cursor: pointer;
}


@media (max-width: 1120px) {
    .listing-card {
        max-width: 300px;
        min-width: 150px;
    }

    .listing-card-body {
        padding: 0.5rem;
    }

    .listing-img {
        height: 150px;
    }

    .listing-card-title {
        font-weight: 600;
        margin-bottom: 0.3rem;
        font-size: 1rem;
    }

    .listing-card-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .listing-card-overlay-actions {
        right: 0.4rem;
        translate: 0 -60%;
    }
}

@media (max-width: 600px) {
    .listing-card {
        max-width: 320px;
        min-width: 150px;
    }

    .listing-card-body {
        padding: 0.5rem;
    }

    .listing-img {
        height: 150px;
    }

    .listing-card-title {
        font-weight: 600;
        margin-bottom: 0.3rem;
        font-size: 1rem;
    }

    .listing-card-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .listing-card-overlay-actions {
        right: 0.4rem;
        translate: 0 -70%;
    }
}