/* Хлебные крошки */
.breadcrumbs {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: var(--gray);
    display: flex;
    flex-direction: row;
}

.breadcrumbs a {
    color: var(--primary);
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    margin: 0 0.5rem;
    color: var(--gray);
}