@use "@core/css/components/global-mixins" as *;

.form-section {
    @include flex-column;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 3px dashed var(--border-color);

    h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .avatar-options {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        .avatar-option {
            @include flex-column;
            align-items: center;
            cursor: pointer;
            position: relative;

            span {
                margin-top: 8px;
                font-size: 14px;
            }

            &.selected .avatar-preview {
                border-color: #4CAF50;
            }

            .avatar-preview {
                border: 3px solid #ddd;
                transition: border-color 0.3s;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            .upload-avatar {
                position: absolute;
                background-color: var(--background);
                border: 2px solid var(--border-color);
                width: 2rem;
                height: 2rem;
                border-radius: 1rem;
                right: 0; 
                display: flex;
                align-items: center;
                justify-content: center;
                translate: 20% -20%;
                cursor: pointer;
            }
        }
    }

    .form-group {

        .lang-select-btn {
            padding: 1rem;
            border: 1px solid var(--border-color);
            border-radius: var(--radius);
            cursor: pointer;
            color: var(--text-color);
            background-color: var(--background);

            &.active {
                border-color: var(--primary);
            }
        }

        .bio {
            padding-bottom: 30px;
            padding-right: 4rem;
            resize: vertical; /* Ограничиваем изменение размера только по вертикали */
            min-height: 100px; /* Минимальная высота */
        }
    }
}