@use "@core/css/components/global-mixins" as *;

$sidebar-width: var(--sidebar-width);
$header-height: var(--header-height);
$radius: var(--radius);

// ===== Header Styles =====
.catalog-header {
	background: var(--background-l1);
	border-bottom: 1px solid var(--border-color);
	padding: 1rem 0;
	height: 5rem;
	display: flex;
	width: 100%;
	justify-content: center;

	@include mobile {
		height: 4rem;
		padding: 0.5rem;
	}

	.catalog-header-content {
		display: inline-flex;
		justify-content: center;
		width: 100%;
		gap: 1rem;
		position: relative;
		height: 3rem;

		@include mobile {
			width: 100%;
		}

		.categories-btn {
			color: var(--permanent-light);
			font-size: medium;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			height: 100%;
			width: fit-content;
			white-space: nowrap;
		}

		.categories-menu {
			position: fixed;
			z-index: 95;
			top: 8rem;
			width: 100%;
			max-width: 100%;

			gap: 0.7rem;
			padding: 0.3rem 25%;

			background-color: var(--background-l1);
			border-bottom: 3px solid var(--border-color);
			border-radius: 0 0 8px 8px;

			display: none;
			overflow: hidden;
			flex-direction: column;
			transform-origin: top;
			animation: expandDown 0.3s ease forwards;

			@include laptop-lg {
				padding: 0.3rem;
			}

			@include mobile {
				max-height: 80vh;
				top: 7.6rem;
				overflow: auto;
			}

			&.active {
				display: flex;
			}

			* {
				visibility: hidden;
			}

			&.active * {
				visibility: visible;
			}

			.category-types {
				margin: 0 auto;
				display: inline-flex;
				gap: 0.2rem;

				@include mobile {
					width: 100%;
				}

				button {
					padding: 0.7rem 5rem;
					font-size: medium;
					font-weight: bold;
					border-bottom: 2px solid var(--text-color-l1);
					position: relative;

					@include mobile {
						padding: 0.7rem;
						padding-right: 2rem;
						width: 100%;
					}

					.indicator {
						border-radius: 4px;
						position: absolute;
						top: 50%;
						right: 0.5rem;
						translate: 0 -50%;
						transition: all 0.3s ease;
						background-color: transparent;

						&.active {
							background-color: rgba(35, 119, 24, 0.514);
						}
					}
				}
			}

			.categories-container {
				display: inline-flex;
				gap: 0.7rem;

				.categories-sidebar-container {
					@include flex-column;
					gap: 0.2rem;
					width: max-content;

					.categories-list {
						@include flex-column;
						gap: 0.3rem;

						.category-item {
							padding: 0.5rem;
							padding-right: 2rem;
							text-align: left;
							font-size: 16px;
							font-weight: 500;
							color: var(--text-color);
							transition: all 0.2s ease;
							border: 0 solid var(--border-color);
							border-radius: 4px;
							background-color: var(--background-l1);
							width: 100%;
							position: relative;

							&:hover,
							&:focus {
								background-color: var(--background-l1);
								color: var(--primary);
							}

							.indicator {
								border-radius: 4px;
								position: absolute;
								top: 50%;
								right: 0.5rem;
								translate: 0 -50%;
								transition: all 0.3s ease;
								background-color: transparent;

								&.active {
									background-color: rgba(35, 119, 24, 0.514);
								}
							}
						}
					}
				}

				.subcategories-container {
					flex: 1;

					.categories-list {
						@include flex-column;
						gap: 0.3rem;

						.sub-category-item {
							padding: 0.5rem 20px;
							font-size: 15px;
							color: var(--text-color);
							transition: all 0.2s ease;
							border: 2px solid var(--border-color);
							border-radius: 4px;
							background-color: var(--background-l1);
							width: 100%;

							&.active {
								color: var(--primary-dark);
								font-weight: bolder;
							}
						}
					}
				}
			}

			.selected-category-label {
				width: 100%;
				text-align: center;
			}
		}

		.listings-search {
			height: 100%;
			display: flex;
			flex-direction: row;
			width: 100%;
			max-width: 500px;

			@include tablet {
				width: fit-content;
			}

			.search-input {
				border-radius: $radius 0 0 $radius;
				border-color: var(--primary);
				background-color: var(--background-l1);
				color: var(--text-color);
				border-style: solid;
				border-width: 3px;
				width: 100%;
				padding: 0.7rem 0.6rem;
				outline: none;
				box-shadow: none;
				font-size: 1rem;
				font-weight: 500;

				@include tablet {
					width: auto;
					min-width: auto;
					padding: 0.6rem 0.6rem;
				}
			}

			.btn-search {
				border-radius: 0 $radius $radius 0;
				border-width: 0;
				box-shadow: none;
				background-color: var(--primary);
				color: var(--background-l1);
				width: auto;
				margin-bottom: 0;
			}
		}
	}
}

// ===== Base Layout =====
.catalog-layout {
	display: flex;
	height: 100%;
	gap: 2rem;
	max-width: calc(1300px + 3rem);
	width: 100%;
	padding: 0 1.5rem;
	margin: 0 auto;
	min-height: 0;

	@include mobile {
        padding: 0;
    }

	.catalog-main {
		padding-top: 1rem;
		flex: 1;
		min-width: 0;
		height: 100%;
		min-height: 0;
		overflow-y: auto;
		scrollbar-width: none;

		@include laptop-lg {
			min-width: 100%;
			padding: 0.5rem;
		}

		.checkbox#translationsFilter {
			width: fit-content;
			padding: 0.5rem 1.5rem;
		}

		.listing-types-list {
			display: inline-flex;
			overflow-x: auto;
			gap: 0.4rem;
			width: max-content;
			width: 100%;
			-webkit-overflow-scrolling: touch;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			scrollbar-color: var(--border-color) #00000000;
			scrollbar-gutter: auto;
			scrollbar-width: thin;

			@include mobile {
				justify-content: space-around;
			}

			.listing-type-item {
				display: inline-flex;
				flex-wrap: nowrap;
				flex: 0 0 auto;
				width: fit-content;
				justify-content: center;
				border-width: 0;
				border: 2px solid var(--border-color);
				border-radius: 50cqh;
				cursor: pointer;
				padding: 0.3rem 1cqh;
				background-color: var(--background-l1);
				color: var(--text-color);
				gap: 0.4rem;
				font-size: 1.05rem;
				font-weight: 600;
				transition: all 0.1s ease-in;

				&.active {
					background-color: var(--primary-light);
				}
			}
		}
	}

	// ===== Filter Sidebar =====
	.catalog-sidebar {
		@include flex-column;
		flex: 0 0 $sidebar-width;
		padding: 1rem 0;
		gap: 1.5rem;

		@include laptop-lg {
			position: fixed;
			top: 200px;
			right: 0;
			transform: translateX(100%);
			width: 100%;
			height: fit-content;
			max-width: $sidebar-width;
			transition: transform 0.3s ease;
			z-index: 100;
			padding: 0;
			border-radius: 0 0 0 12px;
			overflow: visible;
			display: flex;
			flex-direction: row;
			justify-content: end;
			gap: 0;

			&.active {
				transform: translateX(0);
			}
		}

		.btn-filter-sidebar {
			display: none;
			position: absolute;
			left: -3rem;
			background: var(--primary);
			border: none;
			border-radius: 12px 0 0 12px;
			height: 3rem;
			width: 3rem;
			align-items: center;
			justify-content: center;

			.fa-filter {
				color: var(--background-l1);
				transition: transform 0.2s;
			}

			@include laptop-lg {
				display: flex;
			}
		}

		.sorting-sidebar {
			width: $sidebar-width;
			align-self: flex-start;
			background: var(--background-l1);
			border-radius: $radius;
			padding: 1.25rem;
			box-shadow: 0 2px 8px var(--shadow-color);
			position: static;
			@include flex-column;
			gap: 1rem;

			@include laptop-lg {
				width: $sidebar-width;
				align-self: flex-start;
				background: var(--background-l1);
				border-radius: 0 0 0 $radius;
				border: 2px solid var(--primary);
				padding: 1.25rem;
				box-shadow: 0 2px 8px var(--shadow-color);
				position: sticky;
				margin-bottom: 0;
				bottom: 0;
			}

			&.sidebar-links {
				display: block;

				@include laptop-lg {
					display: none !important;
				}
			}

			section {
				
				h5 {
					margin-bottom: 0.5rem;
				}

				.list-group {
					list-style: none;
					@include flex-column;
					gap: 0.5rem;

					&-item {
						display: block;
						padding: 0.6rem 1.25rem;
						font-size: 1rem;
						width: 100%;
						text-align: left;
						border-radius: $radius;
						line-height: 1.5;
						border: 1px solid var(--border-color);
						color: var(--text-color);
						text-decoration: none;
						transition: all 0.2s ease;
						cursor: pointer;
						
						&:hover {
							border-color: var(--primary);
						}
						
						&.active {
							background-color: var(--primary);
							border-color: var(--primary);
							color: var(--background-l1);
						}
					}
				}
			}
		}
	}
}