@use "@core/css/components/global-mixins" as *;

.forum-layout {
    padding: 0 calc((100vw - 1200px) / 2);
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex: 1;

    .forum-page {
        height: 100%;
        flex: 1;
        @include card;
        padding: 1.5rem;

        .forum-topic-list {
            @include flex-column;
            gap: 0.7rem;

            .forum-topic-card {
                @include card;
                padding: 0.5rem 1.5rem;
                background-color: var(--background-l2);
                cursor: pointer;
                @include flex-row;
                justify-content: space-between;

                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background-color: var(--background-l3);
                }

                .read-btn {
                    padding: 0.3rem 0.5rem;
                    height: fit-content;
                    border-radius: var(--radius);
                    background-color: #2eac399c;
                }

                .forum-topic-card-meta {
                    @include flex-column;
                    gap: 0.3rem;
                }

                .forum-topic-card-tag {
                    border-radius: 3rem;
                    padding: 0.1rem 0.7rem;
                    font-size: 0.9rem;
                    width: fit-content;

                    border: 1px solid var(--border-color);
                }
            }
        }

        .forum-topic-theme {
            display: flex;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid var(--border-color);
            margin-bottom: 4rem;

            .forum-topic-theme-content {
                @include flex-column;
                gap: 0.5rem;

                .forum-topic-theme-content-author-name {
                    font-size: larger;
                    font-weight: 500;
                }
            }
        }

        .forum-topic-post-list {
            @include flex-column;
            padding-left: 1rem;
            gap: 0.5rem;

            .forum-topic-post {
                display: flex;
                gap: 1rem;
                padding: 1rem;
                border-radius: 1rem;
                border: 1px solid var(--border-color);

                .forum-topic-post-content {
                    @include flex-column;
                    gap: 0.5rem;

                    .forum-topic-post-author-name {
                        font-size: larger;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .forum-sidebar {
        width: 300px;
        @include card;
    }
}