@use "@core/css/components/global-mixins" as *;

$sidebar-wight: 300px;
$sidebar-page: 1200px;

.forum-layout {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;

    @include mobile {
        padding-top: 1rem;
        min-height: calc(100vh - var(--header-height));
        overflow-y: auto;
        scrollbar-width: none;
    }

    .forum-page {
        height: 100%;
        flex: 1;
        @include card;
        padding: 1.5rem;
        max-width: calc($sidebar-page - $sidebar-wight - 1rem);

        @include mobile {
            min-height: 100%;
            height: fit-content;
            max-width: 100%;
            padding: .5rem;

            h1 { margin-left: 1rem; }

            h3 { margin-left: .5rem; }
        }

        .forum-topic-list {
            @include flex-column;
            gap: 0.7rem;

            .forum-topic-form {
                display: flex;
                gap: 0.5rem;

                #sendBtn {
                    cursor: pointer;
                    border-radius: 8px;
                    padding: 0.7rem;
                    aspect-ratio: 1;
                    right: 0.2rem;
                    top: 0.2rem;
                }
            }

            .tags-list {
                display: flex;
                gap: 0.5rem;
                flex-wrap: wrap;
            }

            .forum-topic-card {
                position: relative;
                @include card;
                padding: 0.5rem 1.5rem;
                background-color: var(--background-l2);
                @include flex-row;
                gap: 1rem;
                justify-content: space-between;

                transition: background-color 0.2s ease-in-out;

                @include mobile {
                    @include flex-column;
                    font-size: 0.9rem;
                    gap: 4px;
                    padding: .5rem;
                }

                .read-btn {
                    display: flex;
                    gap: 0.7rem;
                    padding: 0.3rem 0.5rem;
                    height: fit-content;
                    border-radius: var(--radius);
                    background-color: #2eac399c;
                    font-weight: 600;
                    cursor: pointer;

                    i {
                        margin-left: 3px;
                    }

                    &:hover {
                        background-color: #3bc7479c;
                    }

                    @include mobile {
                        width: fit-content;
                    }
                }

                button.collapse-theme {
                    position: absolute;
                    bottom: 2px;
                    white-space: nowrap;
                    font-weight: 700;
                    color: var(--primary);
                    cursor: pointer;
                    right: 150px;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include mobile {
                        width: fit-content;
                        margin-left: auto;
                        margin-right: 1rem;
                        position: static;
                    }
                }

                .forum-topic-card-meta {
                    @include flex-column;
                    gap: 0.3rem;
                    overflow: hidden;

                    #topicTheme {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        &.open {
                            white-space: normal;
                        }
                    }
                }
            }
        }

        .forum-topic-theme {
            display: flex;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid var(--border-color);
            margin-bottom: 4rem;
            position: relative;

            @include mobile {
                @include flex-column;
                margin-bottom: 2rem;
                gap: 5px;
                .avatar {
                    width: 40px !important;
                    height: 40px !important;
                }
            }

            .forum-topic-theme-content {
                @include flex-column;
                gap: 0.5rem;

                #authorName {
                    font-size: larger;
                    font-weight: 500;

                    @include mobile {
                        position: absolute;
                        left: 66px;
                        top: calc(0.7rem + 10px);
                    }
                }

                #date {
                    font-size: 0.9rem;
                    color: var(--text-color-l1)
                }
            }
        }

        .forum-post-list {
            @include flex-column;
            padding-left: 1rem;
            padding-bottom: 1rem;
            gap: 0.5rem;

            .forum-post-form {
                display: flex;
                gap: 0.5rem;
                padding: 1rem;
                border-radius: 1rem;
                border: 1px solid var(--border-color);

                @include mobile {
                    padding: 0.7rem;
                    gap: 0.3rem;
                }

                #sendBtn {
                    cursor: pointer;
                    border-radius: 8px;
                    padding: 0.7rem;
                    aspect-ratio: 1;
                    right: 0.2rem;
                    top: 0.2rem;

                    @include mobile {
                        padding: 0.7rem .3rem;
                    }
                }
            }

            .forum-post-card {
                @include flex-column;
                border-radius: 1rem;
                border: 1px solid var(--border-color);

                .forum-post {
                    display: flex;
                    padding: 1rem;
                    gap: 1rem;
                    position: relative;
                    border-bottom: 1px solid var(--border-color);

                    @include mobile {
                        @include flex-column;
                        padding: 0.7rem;
                        gap: 5px;
                    }

                    .forum-post-content {
                        @include flex-column;
                        gap: 0.5rem;

                        #authorName {
                            font-size: larger;
                            font-weight: 500;

                            @include mobile {
                                position: absolute;
                                left: 60px;
                                top: calc(0.7rem + 5px);
                            }
                        }

                        #date {
                            font-size: 0.9rem;
                            color: var(--text-color-l1)
                        }
                    }
                }

                .forum-comment-list {
                    @include flex-column;
                    padding: 1rem;
                    gap: 1rem;

                    @include mobile {
                        padding: 0.7rem;
                    }

                    .forum-comment-form {
                        position: relative;

                        textarea.forum-comment {
                            border: 0px;
                            border-bottom: 1px solid var(--border-color);
                            border-radius: 0;
                            padding: 8px 1rem;
                            height: 38px;
                            min-height: 38px;
                            transition: border-color 0.2s ease-in;

                            &:focus {
                                outline: none;
                                border-bottom: 2px solid var(--primary);
                            }
                        }

                        #sendBtn {
                            cursor: pointer;
                            border-radius: 8px;
                            padding: 0.3rem;
                            aspect-ratio: 1;
                            position: absolute;
                            right: 0.2rem;
                            top: 0.2rem;
                        }
                    }

                    .forum-comment-card {
                        @include flex-row;
                        position: relative;
                        gap: 1rem;

                        .forum-comment-content {
                            @include flex-column;

                            .absolute-actions {
                                top: 0;
                                right: 0;
                            }

                            #authorName {
                                font-size: 0.9rem;
                                text-decoration: underline;
                            }

                            #date {
                                font-size: 0.9rem;
                                color: var(--text-color-l1)
                            }
                        }
                    }
                }
            }
        }
    }

    .forum-sidebar {
        width: $sidebar-wight;
        min-width: $sidebar-wight;
        @include card;

        @include mobile {
            display: none;
        }
    }
}

.forum-tag {
    white-space: nowrap;
    border-radius: 3rem;
    padding: 0.1rem 0.7rem;
    font-size: 0.9rem;
    width: fit-content;
    cursor: pointer;
    user-select: none;

    border: 1px solid var(--border-color);

    &.selected {
        background-color: #2e4bac5b;
        border: 1px solid var(--primary);
    }
}