@use './catalog-page';
@use './error-page';
@use './listing-page';
@use './home-page';
@use './news-page';
@use './news-view-page';
@use './resume-page';
@use './resume-view-page';
@use './statistic-page';
@use './terms-page';
@use './forum-page';

@use './account';