@use './catalog-page';
@use './error-page';
@use './messenger-page';
@use './listing-page';
@use './listing-edit-page';
@use './home-page';
@use './listing-create-page';
@use './news-page';
@use './news-view-page';
@use './resume-page';
@use './resume-view-page';
@use './security-page';
@use './settings-page';
@use './statistic-page';
@use './terms-page';