@use "@core/css/components/global-mixins" as *;

.listing-setting {
    background-color: var(--background-l2);
    border: 2px solid var(--border-color);
    border-radius: 1.5rem;
    overflow: hidden;

    .header {
        padding: 1rem;
        cursor: pointer;
    }

    .body {
        display: grid;
        grid-template-rows: 0fr; /* свернуто */
        transition: grid-template-rows 0.3s ease;
        
        padding: 0 0.7rem;
        overflow: hidden;
        background-color: var(--background-l1);

        * {
            overflow: hidden; /* важно */
            opacity: 0;
            visibility: hidden;
            transition: 
                opacity 0.2s ease 0s,
                visibility 0s linear 0.2s; 
        }

        &.active {
            grid-template-rows: 1fr;
            padding: 0.7rem;

            * {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.image-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .image-item {
        position: relative;
        background: var(--background-l1);
        border-radius: var(--radius);
        box-shadow: 0 2px 4px var(--shadow-color);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        aspect-ratio: 1 / 1;
        width: 150px;

        .card {
            padding: 0;
        }

        &:hover .overlay-actions{
            opacity: 1;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .updload-image {
        border: 3px solid var(--border-color);
        border-radius: var(--radius);
        width: 150px;
        height: 150px;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            border: 3px solid var(--primary);
        }

        input {
            display: none; 
        }

        label {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

.translation-editor {
    @include flex-column;
    gap: 0.5rem;
    width: 100%;
    min-width: 0;
    overflow: hidden;

    .lang-cards {
        display: flex;
        gap: 0.5rem;
        width: fit-content;
        overflow-x: auto;
        min-width: 0;

        @include mobile {
            flex-direction: column;
        }

        .lang-card {
            border: 3px solid var(--border-color);
            border-radius: var(--radius);
            padding: 0.5rem 2rem;
            text-align: center;
            width: 100%;
            position: relative;
            white-space: nowrap;

            &.active {
                border-radius: var(--radius) var(--radius) 0 0;
                border-bottom: 3px solid transparent;

                @include mobile {
                    border: 3px solid var(--border-color);
                    border-radius: var(--radius);
                    background-color: #6a8fc748;
                }
            }
        }
    }

    .language-selector {
        display: flex;
        gap: 1rem;
        
        button {
            padding: 0.5rem 1rem;
            font-size: medium;
            border: 1px solid var(--primary-light);
            border-radius: var(--radius);
            cursor: pointer;
            transition: background 0.3s ease-in;

            &:hover {
                background-color: var(--primary-light);
            }
        }
    }
}


.translation-status {
    height: 1.5rem;
    right: 1rem;
    bottom: 0.5rem;
    position: absolute;
    font-size: 1.1rem;

    .progress-container {
        height: 100%;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    * {
        position: absolute;
    }

    .second {
        color: var(--success);
        z-index: 81;
    }

    .first {
        color: var(--like);
        z-index: 80;
    }

    .third {
        color: #ffffff;
        z-index: 82;
        font-size: 0.8rem;
    }
}

/* Превью изображений */
.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;

    .image-preview {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: var(--radius);
        overflow: hidden;
        box-shadow: 0 2px 4px var(--shadow-color);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .remove-image {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: var(--danger);
            color: white;
            border: none;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}

/* Сообщения об ошибках */
.invalid-feedback {
    color: var(--danger);
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.listing-messages-menu {
    flex: 1;
    display: flex;

    .dialogs-list {
        flex: 0 0 250px;

        @include mobile {
            flex: 1;
        }
    }

    .chat-window {

        @include mobile {
            top: 0;
            /* padding: 0; */
            width: calc(100vw - 0.5rem);
        }
    }
}