.listing-create-container {
    background: var(--background-l1);
    border: 1px solid var(--border-color);
    margin: 0 auto;
    padding: 2rem 2.5rem 2.5rem 2.5rem;
    max-width: 460px;
    border-radius: 18px;
    box-shadow: 0 4px 32px rgba(66, 97, 191, 0.13);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.listing-create-type-selector {
    display: flex;
    gap: 20px;
    margin: 18px 0 32px 0;
    flex-wrap: wrap;
    justify-content: center;
}