@use "@core/css/components/global-mixins" as *;

.listing-main {
    padding: 2rem 0;
    max-width: 1200px;
    margin: 0 auto;
    @include flex-column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @include tablet-lg {
        gap: 1rem;
        padding: 1rem;
    }

    .listing-header {
        margin-bottom: 2rem;
        padding-bottom: 1rem;

        h1 {
            font-size: 1.8rem;
            margin-bottom: 0.5rem;
            color: var(--text-color);

            @include mobile {
                font-size: 1.5rem;
            }
        }

        .listing-meta {
            display: flex;
            gap: 1.5rem;
            font-size: 0.9rem;
            color: var(--text-color-l1);
            justify-content: space-between;
            align-items: center;

            .listing-views {
                font-size: 0.8rem;
                color: var(--text-color-l1);
            }
        }
    }

    .listing-main-content {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;

        @include tablet-lg {
            flex-direction: column;
            gap: 1rem;
        }

        .listing-content {
            @include flex-column;
            gap: 1rem;
            flex: 1 1 0;
            min-width: 0;
            overflow-x: visible;

            .listing-gallery {
                position: relative;
                height: fit-content;
                margin-bottom: 0;
                border-radius: var(--radius);
                overflow: hidden;
                background: var(--background-l1);
                box-shadow: 0 2px 8px var(--shadow-color);

                @include tablet-lg {
                    flex: 1;
                    width: 100%;
                }

                .main-image {
                    height: 450px;
                    overflow: hidden;

                    @include tablet-lg {
                        height: 300px;
                    }

                    .image-container {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;

                        .main-image-view {
                            max-width: 100%;
                            max-height: 450px;
                            object-fit: fill;

                            @include tablet-lg {
                                max-width: 100%;
                                max-height: 300px;
                                object-fit: fill;
                            }
                        }

                        .nav-arrow {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            color: white;
                            border: none;
                            width: 20%;
                            height: 100%;
                            font-size: 20px;
                            cursor: pointer;
                            z-index: 10;

                            &.prev-arrow {
                                left: 0;
                                background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0));
                            }

                            &.next-arrow {
                                right: 0;
                                background: linear-gradient(to left, rgba(0,0,0,0.2), rgba(0,0,0,0));
                            }
                        }
                    }
                }

                .thumbnails {
                    display: flex;
                    flex-direction: row;
                    overflow: auto;
                    gap: 0.5rem;
                    padding: 0.5rem;
                    background: var(--background-l1);

                    .thumbnail {
                        width: 80px;
                        height: 80px;
                        border-radius: calc(var(--radius) / 2);
                        overflow: hidden;
                        cursor: pointer;
                        border: 2px solid transparent;
                        transition: all 0.2s;

                        &:hover {
                            border-color: var(--primary);
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border: 2px solid transparent;
                            transition: border-color 0.3s;

                            &:hover, &.active {
                                border-color: #007bff;
                            }
                        }
                    }
                }
            }

            .fullscreen-modal {
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                justify-content: center;
                align-items: center;
                z-index: 1000;

                img {
                    max-width: 90%;
                    max-height: 90%;
                    object-fit: contain;
                    transition: opacity 0.3s ease;

                    &.changing {
                        opacity: 0;
                    }
                }

                .close {
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    color: white;
                    font-size: 40px;
                    font-weight: bold;
                    cursor: pointer;
                }

                .modal-arrow {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: rgba(0,0,0,0.5);
                    color: white;
                    border: none;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                    cursor: pointer;
                    z-index: 10;

                    &.modal-prev {
                        left: 20px;
                    }

                    &.modal-next {
                        right: 20px;
                    }
                }
            }

            .listing-info {
                background: var(--background-l1);
                border-radius: var(--radius);
                padding: 1.5rem;
                box-shadow: 0 2px 8px var(--shadow-color);
                width: 100%;
                @include flex-column;
                gap: 0.5rem;

                @include mobile {
                    &:has(#EVENT_TOPIC) {
                        padding: 0;
                        overflow: hidden;
                    }
                }

                h2 {
                    margin-bottom: 0;
                }

                .listing-description {
                    line-height: 1.6;
                    margin-bottom: 0;
                    white-space: pre-line;
                }

                .listing-chat {
                    min-height: 500px;

                    .chat-window {
                        max-height: 80vh;
                        width: 100%;

                        @include mobile {
                            position: static;
                            height: 100%;
                            padding-bottom: 0;

                            .message-input-container {
                                position: static;
                            }
                        }
                    }
                }
            }
        }

        .listing-sidebar {
            @include flex-column;
            gap: 1.5rem;
            width: 350px;
            margin-bottom: 0;
            height: fit-content;
            position: sticky;

            @include tablet-lg {
                width: 100%;
                gap: 1rem;
            }

            .listing-details {
                background: var(--background-l1);
                border-radius: var(--radius);
                padding: 1.5rem;
                box-shadow: 0 2px 8px var(--shadow-color);
                width: auto;
                position: relative;
                @include flex-column;
                gap: 0.5rem;

                .detail-item {
                    display: inline-flex;
                    gap: 1rem;

                    &:has(.listing) {
                        gap: 0.3rem;
                        @include flex-column;
                    }

                    .price {
                        font-weight: 900;
                        color: var(--primary-dark);
                    }

                    h1 {
                        margin-bottom: 0;
                    }

                    .detail-label {
                        font-size: 0.85rem;
                        color: var(--text-color-l1);
                        translate: 0 2px;
                    }

                    .detail-value {
                        font-weight: 500;
                        color: var(--text-color);
                    }
                }

                .listing-actions {
                    padding-top: 0.5rem;
                    border-top: 1px solid var(--border-color);
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;
                    justify-content: flex-end;

                    .listing-action-item {
                        border-radius: 6px;
                        padding: 0.2rem;

                        i {
                            cursor: pointer;
                            font-size: 1.7rem;
                            color: var(--text-color-l1);
                        }
                    }
                }

                .event-participants {
                    @include flex-column;

                    .event-participant {
                        display: inline-flex;
                        gap: 1rem;
                        align-items: center;
                        padding: 0.5rem;
                        border-bottom: 1px solid var(--border-color);
                    }
                }
            }
        }
    }

    .similar-listings {
        margin-bottom: 2rem;

        h2 {
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
    }
}



.clickable-image {
    cursor: pointer;
}