@use "@core/css/components/global-mixins" as *;

.messenger-container {
    display: flex;
    flex: 1 1 auto;
    gap: 1rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 0;

    @include mobile {
        flex-direction: column;
        min-height: 0;
        max-height: none;
        gap: 0;
    }

    .listing-card-container {
        position: absolute;
        z-index: 100;
        height: 100%;

        .listing-card {
            height: auto;
        }

        @include mobile {
            position: absolute;
            z-index: 100;
            background: transparent;
        }
    }
}