.settings-page {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
    position: relative;

    .settings-sections {
        background-color: var(--background-l1);
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        border-right: 2px solid var(--border-color);
        height: 100%;

        .settings-section-btn {
            text-align: left;
            background-color: var(--background-l1);
            color: var(--text-color);
            font-size: large;
            border-width: 0;
        }
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 100%;

        .settings-sections-toggler {
            background-color: transparent;
            display: none;
            border-width: 0;
            text-align: left;
            width: auto;
            border-radius: 8px;
            padding: 1.3rem 0.2rem;
            justify-content: center;
            color: var(--primary) !important;
            border: 2px solid var(--primary);
            margin-bottom: 1rem;

            @media (max-width: 600px) {
                display: flex;
            }

            i {
                color: var(--primary);
            }
        }

        .form-section {

            h3 {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            .avatar-options {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;

                .avatar-option {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    position: relative;

                    span {
                        margin-top: 8px;
                        font-size: 14px;
                    }

                    &.selected .avatar-preview {
                        border-color: #4CAF50;
                    }

                    .avatar-preview {
                        border: 3px solid #ddd;
                        transition: border-color 0.3s;
                    }

                    .upload-avatar {
                        position: absolute;
                        background-color: var(--background);
                        border: 2px solid var(--border-color);
                        width: 2rem;
                        height: 2rem;
                        border-radius: 1rem;
                        right: 0; 
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        translate: 20% -20%;
                        cursor: pointer;
                    }
                }
            }

            .form-group {

                .lang-select-btn {
                    padding: 1rem;
                    border: 1px solid var(--border-color);
                    border-radius: var(--radius);
                    cursor: pointer;
                    color: var(--text-color);
                    background-color: var(--background);

                    &.active {
                        border-color: var(--primary);
                    }
                }

                .bio {
                    padding-bottom: 30px;
                    padding-right: 4rem;
                    resize: vertical; /* Ограничиваем изменение размера только по вертикали */
                    min-height: 100px; /* Минимальная высота */
                }
            }
        }
    }
}

@media (max-width: 600px) {

    .settings-sections {
        position: absolute;
        display: none;
        visibility: hidden;
        background-color: var(--background-l1);
        width: 100%;
        height: 100%;
        border-width: 0;
        z-index: 100;
        transition: all 0.4s ease-in;
        transform: translateY(-50px);
    }

    .settings-sections.show {
        display: flex;
        visibility: visible;
        transform: translate(0, 0);
    }
}