.settings-page {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
    position: relative;
}

.settings-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
}

.settings-sections {
    background-color: var(--background-l1);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    border-right: 2px solid var(--border-color);
    height: 100%;
}

.settings-section-btn {
    text-align: left;
    background-color: var(--background-l1);
    color: var(--text-color);
    font-size: large;
    border-width: 0;
}

.upload-controls label {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--background-l1); /* Исходный цвет фона */
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.2s ease; /* Плавное изменение */
}

.upload-controls label:hover {
    background-color: var(--primary); /* Фон при наведении */
    color: var(--background-l1); /* Текст при наведении */
    border-color: var(--primary-dark); /* Граница при наведении */
}

h2 {
    font-size: 1.8rem;
    color: var(--text-color);
}

/* Форма редактирования */
.edit-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Разделы формы */
.form-section {
    margin-bottom: 1.5rem;
    border-bottom: 2px dashed var(--border-color);
}

.form-section h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.current-avatar {
    display: flex;
    justify-content: center;
}

.upload-avatar {
    position: absolute;
    background-color: var(--background);
    border: 2px solid var(--border-color);
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    right: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    translate: 20% -20%;
    cursor: pointer;
}

.avatar-options {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.avatar-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.avatar-preview {
    border: 3px solid #ddd;
    transition: border-color 0.3s;
}

.avatar-option.selected .avatar-preview {
    border-color: #4CAF50;
}

.avatar-option span {
    margin-top: 8px;
    font-size: 14px;
}

.upload-controls {
    margin-top: 15px;
}

.lang-select-btn {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background);
}

.lang-select-btn.active {
    border-color: var(--primary);
}

.input-wrapper {
    position: relative;
    display: block;
    width: 100%;
}

.char-counter {
    position: absolute;
    right: 8px;
    bottom: 8px;
    color: var(--text-color);
    font-size: 0.8rem;
    padding: 0 5px;
    border-radius: 3px;
    opacity: 0.6;
}

/* Специфично для вашего textarea */
textarea#bio {
    padding-bottom: 30px;
    padding-right: 4rem;
    resize: vertical; /* Ограничиваем изменение размера только по вертикали */
    min-height: 100px; /* Минимальная высота */
}

.settings-sections-togger {
    background-color: transparent;
    display: none;
    border-width: 0;
    text-align: left;
    width: auto;
    border-radius: 8px;
    padding: 1.3rem 0.2rem;
    justify-content: center;
    color: var(--primary) !important;
    border: 2px solid var(--primary);
    margin-bottom: 1rem;
}

.settings-sections-togger i {
    color: var(--primary);
}

@media (max-width: 600px) {

    .settings-sections-togger {
        display: flex;
    }

    .settings-sections {
        position: absolute;
        display: none;
        visibility: hidden;
        background-color: var(--background-l1);
        width: 100%;
        height: 100%;
        border-width: 0;
        z-index: 100;
        transition: all 0.4s ease-in;
        transform: translateY(-50px);
    }

    .settings-sections.show {
        display: flex;
        visibility: visible;
        transform: translate(0, 0);
    }
}