@use "@core/css/components/global-mixins" as *;

.stats-chart {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .stat-card {
        border: 1px solid var(--border-color);
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }
}

