@use './components';
@use './pages/login-page';
@use './variables';

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

#notificationAnchor {
    position: relative;

    &.navbar-toggler > .unread-notifications-count {
        position: absolute;
        right: -8px;
    }
}