:root {
    /* Основные цвета */
    --secondary: #a777e3;
    --secondary-light: #e2d4f7;
    --background-l1: #f9fafb;
    --background-l1: #ffffff;
    --gray: #6b7280;

    --background-l1-gray: #dddddd;

    --link-blue: #4898f3;

    --blue: #0c78f3;

    --telegram: #0088cc;
    --telegram-hover: #0077b3;

    /* Размеры */
    --radius: 12px;
    --header-height: 60px;

    /* Размеры для каталога */
    --listing-img-height: 180px;
    --sidebar-width: 250px;

    --rating-star: #ff9b18;
    --hovered-rating-star: #e6ba2a;

    --border-color: #d6d5d5;
    --shadow-color: rgba(56, 56, 56, 0.22);

    --sticky-z-index: 1020;

    --success-light: #e6f7f0;
    --success-dark: #0f766e;

    --warning-light: #fef9e7;
    --warning-dark: #b45309;

    --danger: #f87171;
    --danger-dark: #d83f3f;

    --gold: #e6b927;
    --gold-dark: #af8c17;

    /* Перманентные цвета */

    --permanent-text-color: #e9e9e9;

    /*Изменяемые темой цвета*/

    --background-l1: #ffffff;
    --background-l2: #e7e4e4;
    --background: #d8dfdf;
    --text-color: #1f2937;
    --border-color: #d6d5d5;

    --primary-light: #9396ff;
    --primary-2xlight: #babdff;
    --primary: #6366f1;
    --primary-dark: #4f46e5;

    --login-bg-start: #8db5fb;
    --login-bg-end: #d25eff;
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --background-l1: #28292a;
    --background-l2: #393a3a;
    --text-color: #e9e9e9;
    --accent-color: #66b2ff;
    --border-color: #525252;

    --danger-dark: #e9a3a3;
    --primary-light: #4a4e94;
    --primary-2xlight: #2e3392;
    --primary: #8b8db3;
    --primary-dark: #aaa8cf;

    --login-bg-start: #1161eb;
    --login-bg-end: #a809e7;
}