:root {
    /* Основные цвета */
    --secondary: #a777e3;
    --secondary-light: #e2d4f7;
    --background-l1: #f9fafb;
    --background-l1: #ffffff;
    --gray: #6b7280;

    --background-l1-gray: #dddddd;

    --link-blue: #4898f3;

    --blue: #0c78f3;

    --telegram: #0088cc;
    --telegram-hover: #0077b3;

    /* Размеры */
    --radius: 12px;
    --header-height: 60px;

    /* Размеры для каталога */
    --listing-img-height: 180px;
    --sidebar-width: 250px;

    --rating-star: #ff9b18;
    --hovered-rating-star: #e6ba2a;

    --sticky-z-index: 1020;

    --success-light: #e6f7f0;
    --success-dark: #0f766e;

    --warning-light: #fef9e7;
    --warning-dark: #b45309;

    --gold: #e6b927;
    --gold-dark: #af8c17;

    /* Перманентные цвета */

    --like-dark: #d34652;

    --permanent-light: #e9e9e9;
    --permanent-dark: #1f2937;

    --success: #58cc5b;

    --green-l-1: #abddc2;
    --green-l1: #45b175;
    --green-l2: #349950;

    /*Изменяемые темой цвета*/

    --background-l1: #ffffff;
    --background-l2: #e7e4e4;
    --background: #d8dfdf;

    --text-color: #1f2937;
    --inverse-text-color: #e9e9e9;

    --border-color: #d6d5d5;
    --border-color-l2: #b1afaf;

    --danger: #f87171;
    --danger-dark: #d83f3f;

    --primary-light: #9396ff;
    --primary-2xlight: #babdff;
    --primary: #6366f1;
    --primary-dark: #4f46e5;

    --login-bg-start: #8db5fb;
    --login-bg-end: #d25eff;

    --like: #b6b6b6;

    --shadow-color: rgba(56, 56, 56, 0.22);
}

[data-theme="dark"] {
    --background: #1f1f1f;
    --background-l1: #28292a;
    --background-l2: #393a3a;

    --accent-color: #66b2ff;

    --text-color: #e9e9e9;
    --inverse-text-color: #1f2937;

    --border-color: #525252;
    --border-color-l2: #6b6b6b;

    --danger: #f87171;
    --danger-dark: #e9a3a3;

    --primary-light: #4a4e94;
    --primary-2xlight: #2e3392;
    --primary: #797caf;
    --primary-dark: #9997cc;

    --login-bg-start: #1161eb;
    --login-bg-end: #a809e7;

    --selected-category: #2e663f;

    --like: #616e70;

    --shadow-color: rgba(133, 133, 133, 0.22);
}