@use "@core/css/components/global-mixins" as *;

.card {
    @include flex-row;
    position: relative;
    gap: 1rem;
}

.content {
    @include flex-column;

    .actions {
        top: 0;
        right: 0;
    }

    .authorName {
        font-size: 0.9rem;
        text-decoration: underline;
    }

    .date {
        font-size: 0.9rem;
        color: var(--text-color-l1)
    }
}