.c-danger {
    color: var(--danger);
}

.c-primary {
    color: var(--primary);
}

.perm-light {
    color: var(--permanent-light) !important;
}

.perm-dark {
    color: var(--permanent-dark) !important;
}

.inverse-text-color{
    color: var(--inverse-text-color) !important;
}

.border-color {
    color: var(--border-color);
}