@use "@core/css/components/global-mixins" as *;

.image-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .image-item {
        position: relative;
        background: var(--background-l1);
        border-radius: var(--radius);
        box-shadow: 0 2px 4px var(--shadow-color);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        aspect-ratio: 1 / 1;
        width: 150px;

        &:hover .overlay-actions{
            opacity: 1;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .updload-image {
        border: 3px solid var(--border-color);
        border-radius: var(--radius);
        width: 150px;
        height: 150px;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            border: 3px solid var(--primary);
        }

        input {
            display: none; 
        }

        label {
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}