.tooltip-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.tooltip-box {
    position: absolute;
    bottom: 125%; /* показываем сверху */
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    white-space: nowrap;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    pointer-events: none;
    z-index: 100;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
